<a mat-fab extended [routerLink]="['/chapter-edit-chooser', null]" class="button-container">
    <mat-icon>add</mat-icon>
    Add chapter
</a>

<h3>Chapters</h3>

@for (chapter of chapters$ | async | async; track chapter.id; let idx = $index) {
    <mat-card appearance="outlined">
      <mat-card-content>{{ idx }} {{ chapter.name }}</mat-card-content>
      <mat-card-footer class="card-footer">
        <mat-chip-set aria-label="chapter-edit-actions">
          <mat-chip  [routerLink]="['/chapter-edit-chooser', chapter.id]">
            <mat-icon>edit</mat-icon>
            Edit
          </mat-chip>
          <mat-chip (click)="delete(chapter)">
            <mat-icon>delete</mat-icon>
            Delete
          </mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>
  }