<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h3>Sign In</h3>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            @if(loginForm.get('email')?.hasError('required')){
                <mat-error>Email is required</mat-error>
            }
            @if(loginForm.get('email')?.hasError('email')){
                <mat-error>Not a valid email</mat-error>
            }
        </mat-form-field>
        <div class="password-container">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password':'text'" formControlName="password">
            </mat-form-field>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
        <button mat-button (click)="resetPassword()">Reset password</button>
        <button mat-fab extended type="submit" [disabled]="!loginForm.valid">
            <mat-icon>login</mat-icon>
            Sign in
        </button>
    </form>
    <button mat-stroked-button routerLink="/register">Register</button>
    <button mat-button routerLink="">
        <mat-icon>arrow_back</mat-icon>
        Back to start
    </button>
</div>
