.login-container::ng-deep {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
form::ng-deep {
    display: flex;
    flex-direction: column;
}
.password-container {
    display: flex;
    justify-content: space-between;
    & mat-icon {
        margin-top: 16px;
        margin-left: 16px;
    }
}