<mat-toolbar>
    <span routerLink="/game">Empathy</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/game">
                <span data-test-id="game-entry">Game</span>
        </button>
        <button mat-menu-item routerLink="/editor">
                <span data-test-id="editor-entry">Editor</span>
        </button>
    </mat-menu>
  </mat-toolbar>
