<form [formGroup]="storyEditForm" (ngSubmit)="save()" class="form-container">

    <mat-form-field appearance="outline">
        <mat-label>Story id</mat-label>
        <input matInput type="text" formControlName="id" readonly>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Story name</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Languages</mat-label>
        <mat-select multiple formControlName="languages">
            @for(language of availableLanguages; let idx = $index; track idx) {
                <mat-option [value]="language">{{ language }}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="A short description of the story content" formControlName="description"></textarea>
    </mat-form-field>

    <div class="button-container">
        <button mat-fab extended routerLink="/editor">
            <mat-icon>arrow_back</mat-icon>
            Back
        </button>
        <button mat-fab extended type="submit" [disabled]="!storyEditForm.valid" style="align-self: flex-start;">
            <mat-icon>save</mat-icon>
            Save story
        </button>
    </div>
</form>
