<h2 mat-dialog-title>Password requirements</h2>
<mat-dialog-content class="mat-typography">
    <mat-list role="list">
        <mat-list-item role="listitem">Minimum {{ data.min }} characters</mat-list-item>
        <mat-list-item role="listitem">Maximum {{ data.max }} characters</mat-list-item>
        <mat-list-item role="listitem">At least one uppercase letter</mat-list-item>
        <mat-list-item role="listitem">At least one lowercase letter</mat-list-item>
        <mat-list-item role="listitem">At least one number</mat-list-item>
        <mat-list-item role="listitem">At least one special character (e.g., !, &#64;, #, $)</mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>